*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'montserrat';
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container{
    height: 350px;
    width: 250px;
    background-color: #fff;
    border-radius: 10px; 
    position: relative;  
}

.container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container i{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ff166b;
    font-size: 75px;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.4s;
}